#grid_pagination{
    margin-top: -250px;
}


.programm-link {
    display: inline-block;
}

.programm-link:hover img {
    -webkit-filter: none;
    filter:none;
}

.programm-link img {
    width: 184px    ;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}