:root {
    --swiper-theme-color: #ffffff;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.swiper-container {
    max-width: 600px;
    width: 100%;
}

.swiper-slide a {
    display: block;
}

.swiper-button-prev,
.swiper-button-next {
    top: 0;
    bottom: 0;
    margin: 0;
    background-color: rgba(255,255,255, 0.4);
    width: 47px;
    height: 100%;
}

.swiper-button-prev {
    left: 0;
}

.swiper-button-next {
    right: 0;
}