.cats.white a, .cats.white {
    color: #fff;
}

.cats .text {
    float: left;
    background-color: #3e3e3e;
    font-size: 24px;
    line-height: 24px;
    height: 42px;
    margin: 0px;
    padding: 9px;

}

.cats a, .cats {
    color: #000;
    font-size: 25px;
    line-height: 25px;
    color: #3e3e3e;
    display: inline-block;
}


.cats .corner {
    float: left;
    background: url(//www.ctv.by/sites/all/themes/newctvby/img/rectangle-gray-sm.png) no-repeat;
    width: 21px;
    height: 42px;
    max-height: 42px;
    padding: 0px;
    margin: 0px;
}

.cats {
    text-transform: uppercase;
    height: 42px;
    max-height: 42px;
    padding: 0px;
    margin-top: 15px;
    clear: both;
    overflow: hidden;
}


/*.media-wrapper_1{*/
/*    width: 100px;*/
/*    height: 100px;*/
/*}*/
